.red{
    border-bottom: 0.4em solid #dc3545 !important;
}

.yellow{
    border-bottom: 0.4em solid #ffc107 !important;
}

.green{
    border-bottom: 0.4em solid #28a745 !important;
}

.val{
    white-space: nowrap;
    font-weight: bold;
    padding: 12px;
    font-size: 1.5rem !important;
}